/* Write your CSS here */
.container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-weight: bold;
  padding-top: 30px;
}

.input-container {
  border: 1px solid #1e293b;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.search-image {
  height: 20px;
}

.appstore-input {
  border-color: transparent;
  background-color: transparent;
  outline: none;
}

.tab-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.app-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  max-width: 800px;
  justify-content: center;
}
